@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');

:root {
    --primary-color: #262525;
    --font-color: #9a702a;
    --grey-color: #e1e1e1;
    --list-menu: rgb(73, 72, 72);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 85%;
}

body {
    font-family: 'Noto Sans', sans-serif !important;
    // font-weight: 50;
    // font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.search {
    border: none;
    // border-bottom: 1px solid white;
    // background-color: transparent; /* Để nền trở nên trong suốt */
}

.search-input {
    border: none;
    // color: white; /* Đổi màu chữ thành trắng */
    outline: none; /* Loại bỏ viền khi tập trung */
    background-color: transparent;
}

/* App.css */

.nav {
    position: relative;
    text-decoration: none;
}

.nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.nav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.card-product {
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: auto;
    transition: opacity 0.6s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
}

.card-img:hover {
    transform: scale(1.1);
}

.background {
    background-image: url('../../assets/images/bg.png');
    background-size: cover;
}

.menu:hover {
    background-color: var(--list-menu);
}

.down {
    animation-name: expandMenuDown;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes expandMenuDown {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.up {
    animation-name: expandMenuUp;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes expandMenuUp {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.list {
    position: relative;
    overflow: hidden;
    animation-name: listMenuDown;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes listMenuDown {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 300px;
    }
}

.unlist {
    position: relative;
    overflow: hidden;
    animation-name: listMenuUp;
    animation-duration: 0.4s; /* Đảm bảo thời gian animation tương đồng với listMenuDown */
    animation-fill-mode: forwards;
}

@keyframes listMenuUp {
    0% {
        max-height: 300px;
    }
    100% {
        max-height: 0;
    }
}

// .list-user:hover {

// }