@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush:wght@400&display=swap');

:root {
    --primary-color: #262525;
    --font-color: #9a702a;
    // --font-colorq: #9e9e9e;
    --grey-color: #e1e1e1;
    --list-menu: rgb(73, 72, 72);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 85%;
}

body {
    font-family: 'Noto Sans', sans-serif !important;
    // font-weight: 50;
    // font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.search {
    border: none;
    // border-bottom: 1px solid white;
    // background-color: transparent; /* Để nền trở nên trong suốt */
}

.search-input {
    border: none;
    // color: white; /* Đổi màu chữ thành trắng */
    outline: none; /* Loại bỏ viền khi tập trung */
    background-color: transparent;
}

/* App.css */

.nav {
    position: relative;
    text-decoration: none;
    // margin-top: 10px;
}

.nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.nav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.card-product {
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: auto;
    transition: opacity 0.6s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
}

.card:hover .card-img {
    transform: scale(1.1);
}

.background {
    background-image: url('../../assets/images/bg.png');
    background-size: cover;
}

.menu:hover {
    background-color: var(--list-menu);
}

.down {
    animation-name: expandMenuDown;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes expandMenuDown {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.up {
    animation-name: expandMenuUp;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes expandMenuUp {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.list {
    position: relative;
    overflow: hidden;
    animation-name: listMenuDown;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes listMenuDown {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 300px;
    }
}

.unlist {
    position: relative;
    overflow: hidden;
    animation-name: listMenuUp;
    animation-duration: 0.4s; /* Đảm bảo thời gian animation tương đồng với listMenuDown */
    animation-fill-mode: forwards;
}

@keyframes listMenuUp {
    0% {
        max-height: 300px;
    }
    100% {
        max-height: 0;
    }
}

.checkbox {
    position: relative;
    border: 1px solid #c0c0c0;
    border-radius: 1px;
    background-color: #eeeeee;
    width: 18px;
    height: 18px;
}

.check {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.select-star {
    // background-color: #dddddd;
    border: 1px solid black;
    border-radius: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: var(--primary-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-nav {
    color: white;
}

.dropdown-nav:hover {
    color: var(--font-color);
}

.input-login::placeholder {
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important; /* Firefox */
}
.input-login::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: rgb(255, 255, 255) !important;
}

.card-login {
    width: 25%;
    background: transparent !important;
    color: white !important;
    border-color: white !important;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-login {
    border-radius: 40px !important;
    background: transparent !important;
    color: white !important;
    height: 40px;
}

.input-group-login {
    position: relative;
}

.icon-login {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.input-group-login input {
    padding-right: 40px; /* Đảm bảo nội dung không bị che bởi icon */
}

.text-long {
    white-space: nowrap; // không xuống dòng
    overflow: hidden; // ẩn nội dung bị thừa
    text-overflow: ellipsis; // thêm dấu ... đằng sau
    // max-width: 450px;
}

// .col-order {
//     background-color: #555555;
// }
